body{
    background-image: url('./fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    width: 500px;
    height: 300px;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 20px;
    
}
span{
    font-size: 100px;
    font-family: sans-serif;
}
@media (max-width : 600px){
    div{
        background-color: chocolate;
        width: 300px;
        height: 200px;
        gap: 15px;

    }
    span{
        font-size: 70px;
    }
    div:hover{
        background-color: blue;
        color: white;
    }

}